.item {

    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
    z-index: 0;

}

.item.active {

    display: block;
}

.item .title {

    font-size: 12rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.item .Fruit {

   width: 90%;
    position: absolute;
    top: 0;
    z-index: 2;

}

.item .Refrigerante {

    z-index: 3;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

#prev, #next {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #eee;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;

}

#prev {

    left: 30px;

}

#next {

    right: 30px;

}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}
.item.active img.Fruit {
    animation: toActive 0.5s ease-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-out 1;
}